@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2);
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  src: url(/fonts/FiraCode-VF.woff2);
}

:root {
  scroll-behavior: auto;
}

::-moz-selection {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

::selection {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

.light {
  --color-bg-accent: hsla(205, 79%, 66%, 1);
  --color-bg-primary: hsla(0, 100%, 100%, 1);
  --color-bg-secondary: hsla(210, 38%, 95%, 1);
  --color-bg-accent-hover: hsla(207, 73%, 57%, 1);

  --color-text-accent: hsla(211, 61%, 43%, 1);
  --color-text-primary: hsla(218, 23%, 23%, 1);
  --color-text-secondary: hsla(218, 17%, 35%, 1);
  --color-text-tertiary: hsla(218, 17%, 35%, 1);
  --color-text-on-accent: hsla(204, 45%, 98%, 1);

  --color-fill-primary: hsla(205, 79%, 83%, 1);
  --color-fill-secondary: hsla(210, 38%, 95%, 1);

  --color-gradient-accent1: hsla(209, 62%, 50%, 1);
  --color-gradient-accent2: hsla(174, 59%, 56%, 1);

  --color-code-background: hsla(210, 38%, 98%, 1);
  --color-code-background-file: hsla(210, 38%, 95%, 1);
  --color-code-line-hover: hsla(210, 38%, 95%, 1);
  --color-code-text: hsla(218, 23%, 23%, 1);
  --color-code-comment: hsla(216, 15%, 52%, 1);
  --color-code-punctuation: hsla(184, 52%, 47%, 1);
  --color-code-const: hsla(256, 100%, 65%, 1);
  --color-code-bool: hsla(256, 100%, 65%, 1);
  --color-code-string: hsla(35, 92%, 58%, 1);
  --color-code-var: hsla(1, 77%, 55%, 1);
  --color-code-func: hsla(231, 99%, 62%, 1);
  --color-code-keyword: hsla(256, 100%, 65%, 1);
  --color-code-regex: hsla(217, 38%, 55%, 1);
}

.dark {
  --color-bg-accent: hsla(172, 67%, 70%, 1);
  --color-bg-primary: hsla(220, 26%, 14%, 1);
  --color-bg-secondary: hsla(220, 25%, 12%, 1);
  --color-bg-accent-hover: hsla(174, 59%, 56%, 1);

  --color-text-accent: hsla(172, 67%, 70%, 1);
  --color-text-primary: hsla(204, 45%, 98%, 1);
  --color-text-secondary: hsla(214, 32%, 91%, 1);
  --color-text-tertiary: hsla(214, 20%, 69%, 1);
  --color-text-on-accent: hsla(220, 26%, 14%, 1);

  --color-fill-primary: hsla(172, 67%, 70%, 1);
  --color-fill-secondary: hsla(220, 25%, 12%, 1);

  --color-gradient-accent1: hsla(209, 62%, 50%, 1);
  --color-gradient-accent2: hsla(174, 59%, 56%, 1);

  --color-code-background: hsla(220, 25%, 12%, 1);
  --color-code-background-file: hsla(220, 25%, 10%, 1);
  --color-code-line-hover: hsla(220, 25%, 8%, 1);
  --color-code-text: hsla(210, 38%, 95%, 1);
  --color-code-comment: hsla(216, 15%, 52%, 1);
  --color-code-punctuation: hsla(210, 38%, 95%, 1);
  --color-code-const: hsla(326, 100%, 74%, 1);
  --color-code-bool: hsla(265, 89%, 78%, 1);
  --color-code-string: hsla(135, 94%, 65%, 1);
  --color-code-var: hsla(60, 30%, 96%, 1);
  --color-code-func: hsla(65, 92%, 76%, 1);
  --color-code-keyword: hsla(191, 97%, 77%, 1);
  --color-code-regex: hsla(31, 100%, 71%, 1);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  transition: all 300ms ease 0s;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  @apply antialiased;
}

.full-width-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blob {
  z-index: -10;
}

.blob-bg {
  transform: scale(2.85);
  z-index: -10;
}

.blob-rotate {
  animation: rotate 50s linear infinite;
}

.blob-rotate-faster {
  animation: rotate 25s linear infinite;
}

aside.sticky {
  top: 4rem;
}

@media (min-width: 1024px) {
  :root {
    scroll-behavior: smooth;
  }
}

.accent-gradient {
  background: var(--color-bg-accent);
  background: -moz-linear-gradient(
    45deg,
    var(--color-gradient-accent2) 0%,
    var(--color-gradient-accent1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    var(--color-gradient-accent2) 0%,
    var(--color-gradient-accent1) 100%
  );
  background: linear-gradient(
    45deg,
    var(--color-gradient-accent2) 0%,
    var(--color-gradient-accent1) 100%
  );
  background-size: 200%;
  transition: background-position 0.5s ease-out;
}

.accent-gradient:hover {
  background-position: right center;
}
