@import url("https://rsms.me/inter/inter.css");

:root {
  --color-bg-accent: #81e6d9;
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #feebc8;
  --color-bg-tertiary: #283141;
  --color-bg-accent-hover: #4fd1c5;

  --color-text-accent: #81e6d9;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-tertiary: #a0aec0;
  --color-text-on-accent: #234e52;

  --color-text-footer-primary: #2d3748;
  --color-text-footer-secondary: #2d3748;

  --color-fill-primary: #81e6d9;
  --color-fill-secondary: #283141;
  --color-fill-tertiary: #283141;
}

::selection {
  background: var(--color-text-accent);
  color: var(--color-bg-primary);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  transition: all 300ms ease 0s;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  @apply antialiased;
}

.full-width-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blob {
  z-index: -10;
}

.blob-bg {
  transform: scale(2.85);
  z-index: -10;
}

.blob-footer {
  /* transform: translateX(100em); */
}

.blob-rotate {
  animation: rotate 50s linear infinite;
}

.blob-rotate-faster {
  animation: rotate 25s linear infinite;
}

a.anchor {
  fill: var(--color-text-accent);
  top: 0.5rem !important;
}
